<nav class="navbar navbar-expand-lg navbar-dark bg-dark">

  <div class="container">
    <a class="navbar-brand" routerLink="/">Poll App</a>

    <div class="navbar-nav ml-auto">
      <a class="nav-item nav-link" routerLink="/login">Login</a>
      <a class="nav-item nav-link" routerLink="/register">Register</a>

      <a class="nav-item nav-link" routerLink="/feed"> Feed </a>
      <a class="nav-item nav-link" routerLink="/create-poll"> Create new Poll </a>
      <a class="nav-item nav-link" routerLink="/profile"> Nivedita </a>
      <a class="nav-item nav-link" routerLink="/"> Log out </a>
    </div>
  </div>

</nav>