<nav class="navbar navbar-expand-lg navbar-dark bg-dark">

  <div class="container">
    <a class="navbar-brand" routerLink="/">Poll App</a>

    <div class="navbar-nav ml-auto">

      <a class="nav-item nav-link" *ngIf = "this.globals.currentUser$ == null" routerLink="/login">Login</a>
      <a class="nav-item nav-link" *ngIf = "this.globals.currentUser$ == null" routerLink="/register">Register</a>

      <a class="nav-item nav-link" *ngIf = "this.globals.currentUser$ != null" routerLink="/create-poll"> New Poll </a>
      <a class="nav-item nav-link" *ngIf = "this.globals.currentUser$ != null" routerLink="/feed"> Feed </a>
      <a class="nav-item nav-link" *ngIf = "this.globals.currentUser$ != null" routerLink="/profile/{{this.globals.currentUser$.id}}"> {{this.globals.currentUser$.firstName}} </a>
      <a class="nav-item nav-link" *ngIf = "this.globals.currentUser$ != null" routerLink="/"> Log out </a>
    </div>
  </div>

</nav>